.home {
    background-color: black;
}

.intro {
    background-image: url(../images/Home-bg.png);
    height: 90vh;
    position: relative;
}

.intro button {
    padding: 0.5% 2%;
    font-size: larger;
    border-radius: 10px;
    position: absolute;
    bottom: 7%;
    left: 8%;
}

.product-div {
    text-align: center;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
    color: white;
}
.product-categories {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  /* Responsive grid */
    gap: 30px;  /* Space between grid items */
    padding: 3% 0;  /* Vertical padding */
    max-width: 1200px;  /* Maximum width for large screens */
    margin: 0 auto;  /* Center the grid container horizontally */
  }
  

.product {
    border: 1px solid black;
    padding: 15px;
    text-align: center;
    border-radius: 8px;
    background-color: #171a1f;
    box-shadow: 1px 1px 5px white;
}

.product img {
    width: 100%;
    height: 200px;
    border-radius: 5px;
}

.product h3 {
    margin: 15px 0;
    font-size: 1.2rem;
    text-align: center;
}

.explore-btn {
    background-color: #7f55e0;
    width: 100%;
    color: white;
    padding: 10px ;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.product button:hover {
    background-color: #636ae8;
}